{{#each response}}
<li class="friend" draggable="true">
    <div class="friend__foto-wrap"><img src={{photo_100}} alt="Фото" class="friend__foto" draggable="false"></div>
    <span class="friend__name">{{first_name}} {{last_name}}</span>
    <span class="icon-plus friend__icon"></span>
</li>
{{/each}}