<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class='wrapper'>
        <header class='header'>
            <h1 class='header__title'>Выберите друзей</h1>
            <span class="icon-close header__icon"></span>
        </header>
    
        <main class="main">
            <div class="main__head">
                <label class="main__label">
                    <span class="icon-search main__search-icon"></span>
                    <input class="main__input" type="text" placeholder="Начните вводить имя друга">
                </label>
                <label class="main__label">
                    <span class="icon-search main__search-icon"></span>
                    <input class="main__input" type="text" placeholder="Начните вводить имя друга">
                </label>
            </div>
            <div class="main__wrap">
                <section class="main__section main__section_left">
                    <h2 class="main__title">Ваши друзья</h2>
                    <ul class="main__list">
                        <li class="friend">
                            <div class="friend__foto-wrap"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREmN1hoq7Utb5zJNNBT9Jthxqb5oWhncei8GXyGosk2vgnc2qNgA" alt="Фото" class="friend__foto"></div>
                            <span class="friend__name">Вова Путин</span>
                            <span class="icon-plus friend__icon"></span>
                        </li>
                    </ul>
                </section>
                <section class="main__section main__section_right">
                    <h2 class="main__title">Друзья в списке</h2>
                    <ul class="main__list">
                        <li class="friend">
                            <div class="friend__foto-wrap"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREmN1hoq7Utb5zJNNBT9Jthxqb5oWhncei8GXyGosk2vgnc2qNgA" alt="Фото" class="friend__foto"></div>
                            <span class="friend__name">Вова Путин</span>
                            <span class="icon-close friend__icon"></span>
                        </li>
                    </ul>
                </section>
            </div>
        </main>
    
        <footer class="footer">
            <button class="footer__button">Сохранить</button>
        </footer>
    </div>
</body>
</html>
