<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://vk.com/js/api/openapi.js?147" type="text/javascript"></script>
</head>
<body>
    <div class='wrapper'>
        <header class='header'>
            <h1 class='header__title'>Выберите друзей</h1>
            <span class="icon-close header__icon" id="closeWindow"></span>
        </header>
    
        <main class="main" >
            <div class="main__head" id="mainHead">
                <label class="main__label">
                    <span class="icon-search main__search-icon"></span>
                    <input class="main__input" type="text" placeholder="Начните вводить имя друга" id="mainInput">
                </label>
                <label class="main__label">
                    <span class="icon-search main__search-icon"></span>
                    <input class="main__input" type="text" placeholder="Начните вводить имя друга" id="secondInput">
                </label>
            </div>
            <div class="main__wrap" id="mainWrap">
                <section class="main__section main__section_left">
                    <h2 class="main__title">Ваши друзья</h2>
                    <ul class="main__list" id="mainList">
                    </ul>
                </section>
                <section class="main__section main__section_right">
                    <h2 class="main__title">Друзья в списке</h2>
                    <ul class="main__list main__list_second" id="secondList">
                    </ul>
                </section>
            </div>
        </main>
    
        <footer class="footer">
            <button class="footer__button" id="refreshButton">Обновить из VK</button>
            <button class="footer__button" id="saveButton">Сохранить</button>
        </footer>
    </div>
</body>
</html>
